<h3>Poster un message</h3>

{{ form_start(form, { 'action': path('message_new', {'ticketId': ticket.id }), 'method': 'POST' }) }}
        {{ form_widget(form) }}
<input class="btn btn-primary" type="submit" value="Poster" />

{{ form_end(form) }}